/lib/*.*
/build/
/dist/*.*
/dist/libtri
/doc/html/
/doc/img/
/doc/readme/
/sources/*.directory

*.cbp
*.pro
*.user
*.user.*
Doxyfile
*.directory
README
Makefile
*.py
*.cmake
/CMakeCache.txt
/CMakeFiles/
/data/*.tree
/data/*.vtk

/sources/CMakeFiles/*
/bin/
/lib/
